// color
$color-1-white: #fff;
$color-1-blue: #AEDEFC;
$color-1-purple: #F875AA;
$color-sp-thongbao: #DA0C81;
$color-1-content: #BEADFA;
$color-2-content: #CDFAD5;

// font-size

// breakpoints
$breakpoints: (
    "small": 576px,
    "medium": 768px,
    "large": 992px,
    "extra-large": 1200px
)